
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  main {
    margin: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  
 
  ol {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  